[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/ultralytics/ultralytics.git
[submodule "jetson-inference"]
	path = jetson-inference
	url = https://github.com/dusty-nv/jetson-inference.git
[submodule "sahi"]
	path = sahi
	url = git@github.com:dat-nguyenvn/sahifilter.git
	#url = https://github.com/dat-nguyenvn/sahifilter.git
