[submodule "ultralytics"]
	path = ultralytics
	url = git@github.com:dat-nguyenvn/ultralytics.git
[submodule "jetson-inference"]
	path = jetson-inference
	url = https://github.com/dusty-nv/jetson-inference.git

[submodule "sahi"]
	path = sahi
	url = git@github.com:dat-nguyenvn/sahifilter.git

[submodule "SAHI-SAM2"]
	path = SAHI-SAM2
	url = git@github.com:dat-nguyenvn/SAHI-SAM2.git
